.App {
  text-align: center;
  background-color: #FFFFFF;
}

.alert {
  margin: 1em;
  padding: 0.61em;
  opacity: 0.9;
  color: #333;
  border-radius: 4px;
}



.alert-danger {
  background: rgb(226, 29, 29);
  color: #fff;
}


.alert-success {
  background: hsl(120, 78%, 57%);
  color: #fff;
}

