

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  background-color: #FFFFFF;
}

.alert {
  margin: 30px;
  padding: 10px 20px;
  opacity: 0.9;
  color: #333;
  border-radius: 2px;
  position: absolute;
  top: 80px;
}



.alert-danger {
  background:#700a0a;
  color: #fff;
}


.alert-success {
  background: hsl(120, 78%, 57%);
  color: #fff;
}


