.Fguide{
    display: block;
    position: relative;
    
}
.l1{
    display: inline-block;
    width:40px;
    height:150px;
    background-color: #000000;
    border: 4px solid;
    position: absolute;
    top:390px;
    left:550px;
    border-radius: 15px 15px 5px 5px;
    box-shadow: 10px 10px 5px grey;

}
.l2{
    display: inline-block;
    width: 40px;
    height: 190px;
    background-color:  #000000;
    position: absolute;
    top:350px;
    left:610px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.l3{
    display: inline-block;
    width: 40px;
    height: 250px;
    background-color:  #000000;
    position: absolute;
    top:290px;
    left:670px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;



    
}
.l4{
    display: inline-block;
    width: 40px;
    height: 230px;
    background-color:  #000000;
    position: absolute;
    top:310px;
    left:730px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;



    
}
.lt{
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color:  #000000;
    position: absolute;
    top:590px;
    left:780px;
    border-radius: 5px 15px 15px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.lp{
    display: inline-block;
    width:220px;
    height:100px;
    background-color:  #000000;
    position: absolute;
    top:550px;
    left:550px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}

.r1{
    display: inline-block;
    width:40px;
    height:150px;
    background-color:  #000000;
    position: absolute;
    top:390px;
    right:550px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


    
}
.r2{
    display: inline-block;
    width: 40px;
    height: 190px;
    background-color:  #000000;
    position: absolute;
    top:350px;
    right:610px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.r3{
    display: inline-block;
    width: 40px;
    height: 250px;
    background-color:  #000000;
    position: absolute;
    top:290px;
    right:670px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.r4{
    display: inline-block;
    width: 40px;
    height: 230px;
    background-color:  #000000;
    position: absolute;
    top:310px;
    right:730px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.rt{
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color:  #000000;
    position: absolute;
    top:590px;
    right:780px;
    border-radius: 15px 5px 5px 15px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.rp{
    display: inline-block;
    width:220px;
    height:100px;
    background-color:  #000000;
    position: absolute;
    top:550px;
    right:550px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.al1{
    display: inline-block;
    width:40px;
    height:150px;
    background-color: rgb(251, 255, 15);
    border: 4px solid;
    position: absolute;
    top:390px;
    left:550px;
    border-radius: 15px 15px 5px 5px;
    box-shadow: 10px 10px 5px grey;

}
.al2{
    display: inline-block;
    width: 40px;
    height: 190px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:350px;
    left:610px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.al3{
    display: inline-block;
    width: 40px;
    height: 250px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:290px;
    left:670px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;



    
}
.al4{
    display: inline-block;
    width: 40px;
    height: 230px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:310px;
    left:730px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;



    
}
.alt{
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:590px;
    left:780px;
    border-radius: 5px 15px 15px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.alp{
    display: inline-block;
    width:220px;
    height:100px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:550px;
    left:550px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}

.ar1{
    display: inline-block;
    width:40px;
    height:150px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:390px;
    right:550px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


    
}
.ar2{
    display: inline-block;
    width: 40px;
    height: 190px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:350px;
    right:610px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.ar3{
    display: inline-block;
    width: 40px;
    height: 250px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:290px;
    right:670px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.ar4{
    display: inline-block;
    width: 40px;
    height: 230px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:310px;
    right:730px;
    border-radius: 15px 15px 5px 5px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;




    
}
.art{
    display: inline-block;
    width: 90px;
    height: 50px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:590px;
    right:780px;
    border-radius: 15px 5px 5px 15px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
.arp{
    display: inline-block;
    width:220px;
    height:100px;
    background-color:  rgb(251, 255, 15);
    position: absolute;
    top:550px;
    right:550px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;


}
@media (max-width: 1281px){



}