#sampBox {
    background-color: rgb(0, 0, 0);
    padding: 40px;
    font-family : monospace;
    border: solid 11px #ffffffed;
    color: white;
  }


.sampleText {
    padding : 1px;
    font-size : 28px;
  }
  
.typedSpan{
    background-color: black;
    color: gray; 
}

.activeSpan{
    background-color: yellow;
    color: black;
}

