.profile-pics {
  border: #6012af;
  border-width: thick;
  border-style: outset;
  padding: 12px;
  border-radius: 50%;
  width: 9%;

}

.leader-box {
  padding: 10px 10px;
  margin-bottom : 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
}

#leader-sheet {
  background-color: #121212;
  justify-content: center;
  align-items: center;
}