ul {
	list-style-type: none;
    margin: 0;
    margin-right: 30px;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
  text-decoration: none;
  opacity: 0.8;
  }
  
  li a:hover {
    background-color: #1a062b;
    opacity: 1;
	font-weight: bold;
  }