#sampBox {
  /* background-color: #000000; */
  
  background-color: #02262d;
  padding: 30px;
  font-family: monospace;
  /* border: solid 11px #ffffffed; */
  color: white;
  scrollbar-width: none;
  height: 33vh;
  overflow: hidden;
  }

  .error { 
    background-color: red !important;
  }

  .endOfLine::after{
    content: "\a";
    white-space: pre;
}

.sampleText {
    padding : 1px;
    font-size : 22px;
    white-space: pre;
  }

  
  
.typedSpan{
    background-color:white;
    color: black; 

}

.activeSpan{
    background-color: #28abb9;
    color: black;
}

#select-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.select-box {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  cursor: pointer;
  line-height: 1.1;
  background-color: #212121;
  border: 2px solid #064c5d;
  border-radius: 2px;
  padding: 6px;
  color: white;
}

