#sampBox {
    background-color:#28abb9;
    padding: 40px;
    font-family : monospace;
    border: solid 11px #ffffffed;
    color: white;

  }

  .error { 
    background-color: red !important;
  }

  .endOfLine::after{
    content: "\a";
    white-space: pre;
}




.sampleText {
    padding : 1px;
    font-size : 22px;
    white-space: pre;
  }

  
  
.typedSpan{
    background-color: black;
    color: gray; 

}

.activeSpan{
    background-color: yellow;
    color: black;
}

