#sampBox {
  /* background-color: #000000; */
  word-break: break-word;
  background-color: #1d0033bb;
  padding: 40px;
  font-family: 'Source Code Pro', monospace;
  /* border: solid 11px #ffffffed; */
  color: white;
  scrollbar-width: none;
  height: 33vh;
  overflow: hidden;
  }

  .error { 
    color: white !important;
    background-color: black !important;
  }

  .typed-error {
    color: red !important;
  }

  .endOfLine::after{
    content: "\a";
    white-space: pre;
}

.sampleText {
    padding : 1px;
    font-size : 22px;
    white-space: pre;
  }

  
  
.typedSpan{
    /* background-color:rgba(255, 255, 255, 0.138); */
    color: gray; 
}

.activeSpan{
    background-color: #ffffff;
    color: #121212;
    font-size: 29px;
    font-weight: bold;
}

#select-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.select-box {
  font-family:  "JetBrains Mono";
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  cursor: pointer;
  line-height: 1.1;
  background-color: #1b1b1b;
  border: 2px solid #064c5d;
  border-radius: 2px;
  padding: 6px;
  color: white;
}

.select-box:hover {
  background-color: #1a062b;

}

#reload {
  margin: 10px;
  cursor: pointer;
 
}

#sound {
  margin: 10px;
  cursor: pointer;
  opacity: 0.8;
}

#reload:hover {
  opacity: 1;
  transform: rotateZ(360deg);
  transition-duration: 1.5s;
}

#sound:hover{
  transform: scale(1.2);
  opacity: 1;
}
